<?xml version="1.0" encoding="utf-8"?>
<!--
GS.Test.Client.DataSourceSimulator.App.config

Copyright 2015 George Stevens

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.-->
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="securityBehavior">
                    <transportClientEndpointBehavior>
                        <tokenProvider>
                            <sharedAccessSignature keyName="RootManageSharedAccessKey" 
                                                   key="agcbG5SUSKB7AyaT9zkOfQ4Cqj4P5M4TAsxPGOKmUYs=" />
                        </tokenProvider>
                    </transportClientEndpointBehavior>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netMessagingBinding>
                <binding name="messagingBinding" sessionIdleTimeout="00:01:00"
                         sendTimeout="00:03:00" receiveTimeout="00:03:00" 
                         openTimeout="00:03:00" closeTimeout="00:03:00">
                    <transportSettings batchFlushInterval="00:00:01" />
                </binding>
            </netMessagingBinding>
          
            <netTcpBinding>
              <binding name="TransactionalReliableTCP" transactionFlow="true">
                <reliableSession enabled="true" />
              </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="ingestionQueue" 
                      address="sb://AzExploreSbNS.servicebus.windows.net/ingestionqueue" 
                      binding="netMessagingBinding" 
                      contract="GS.Contract.DataFeed.IDataFeeds" 
                      bindingConfiguration="messagingBinding" 
                      behaviorConfiguration="securityBehavior" />
            <endpoint name="feedAdmin"
                      address="net.tcp://localhost:8000/DataFeedManager"
                      binding="netTcpBinding"
                      contract="GS.Contract.DataFeed.IFeedAdmin" 
                      bindingConfiguration="TransactionalReliableTCP"
                      />
        </client>
        <extensions>
            <behaviorExtensions>
                <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </behaviorExtensions>
            <bindingElementExtensions><add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </bindingElementExtensions>
            <bindingExtensions>
                <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </bindingExtensions>
        </extensions>
    </system.serviceModel>
    <appSettings>
        <!-- Service Bus specific app setings for messaging connections -->
        <!--<add key="Microsoft.ServiceBus.ConnectionString"
            value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]"/>-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
